{% extends 'internet_shop_app/base.html'  %}

{% block content %}


<div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ category.title }}</h1>
                <a class="btn btn-lg btn-outline-primary" href="{% url 'internet_shop_app:products_categories_page' %}">Go Back</a>
            </div>  
            <div class="col-md-8 order-md-1 d-flex flex-wrap justify-content-end">
                {% for product in products %}
                    <div style="margin-bottom: 5px; margin-left: auto" class="col-md-4 mb-4 ">
                        <div class="card">
                            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p class="card-text">{{ product }}</p>
                                <a class="btn btn-lg btn-primary" href="{% url 'internet_shop_app:product_page' product.id %}">Buy Now</a>
                            </div>
                        </div>
                    </div>            
                {% empty %}
                    <p>No products available.</p>
                {% endfor %}
            </div>
        </div>                
    </div>  
</div>                  
{% endblock content %}

{% block cart_offcanva %}
    <button class="btn btn-primary fixed-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">View Cart</button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Your Cart</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul>
        {% for item in cart %}
            <li>
                <h4>{{ item.name }}</h4>
                <p>ID = ({{ item.id }})</p>
                <p>Quantity: {{ item.quantity }}</p>
                <p>Total price for item: {{ item.total_price }}</p>
                <form action="{% url 'internet_shop_app:remove_from_cart' item.id %}" method="post">
                {% csrf_token %}
                        <button name="submit" class="btn btn-lg btn-outline-primary">Delete From Cart</button>
                    </form>
            </li>
        {% empty %}
            <p>Cart is empty.</p>
        {% endfor %}     
        </ul>
        <h4>Total Cost: {{ total_price }}$</h4>
        <form action="{% url 'internet_shop_app:order_form_page' %}" method="post">
            {% csrf_token %}
            {% if total_price == 0 %}
                <button name="submit" class="btn btn-lg btn-primary" disabled>Submit Cart</button>
            {% else %}
                <button name="submit" class="btn btn-lg btn-primary">Submit Cart</button>
            {% endif %}
        </form>
    </div>    
{% endblock cart_offcanva %}